@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    font-family: 'Arvo', serif;
}

.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp{
    display: flex;
    justify-content: center;
    background-color: rgba(244, 208, 63, 0.2);
    box-shadow: 5px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;

    font-size: 100px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.hot-temp{
    color: red;
}


.weather{
    font-size: 32px;
}

.low-high {
    font-size: 22px;
}
.sol_limpo {
    background-image: url('../fundos/agua-beleza-filtro-azul-do-sol.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.nublado_nuvem{
    background-image: url('../fundos/foto-vertical-de-um-caminho-no-meio-de-um-campo-gramado-com-arvores-sob-um-ceu-nublado.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.tempestade{
    background-image: url('../fundos/tempestade-com-relampagos-nas-maldivas.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.neve{
    background-image: url('../fundos/foto-vertical-de-um-rio-com-neve-e-uma-floresta-quase-coberta-de-neve-no-inverno-na-suecia.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}
.chuva_chuva{
    background-image: url('../fundos/foto-vertical-de-um-rio-com-neve-e-uma-floresta-quase-coberta-de-neve-no-inverno-na-suecia.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.tempo_mist{
    background-image: url('../fundos/belas-montanhas.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

